.back-button{
    margin: 25px;
}

button img{
    width: 60%;
}

.container{
    margin: 20px;
    border: 2px var(--background-color) solid;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.product-image{
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}
.product-image img{
    max-width: 100%;
    max-height: 100%;
}

.product-detail{
    flex: 1;
    background-color: var(--background-color);
}