
<div class="back-button">
    <button mat-fab color="primary" routerLink="/home">
        <img src="/assets/back.png" alt="back-arrow"/>
    </button>
</div>
<div class="container">
    <div class="product-image">
        <img [src]="productDetail.image">
    </div>
    <div class="product-detail">
        <div class="product-header">
            <span class="product-title">{{productDetail.title}}</span>
            <app-star-rating [rating]="productDetail.rating.rate"></app-star-rating>
        </div>
        <div class="product-info">            
            <span>Category: {{productDetail.category}}</span><br>
            <span>{{productDetail.description}}</span><br>
        </div>
        <div class="buy-product">
            <span>USD ${{productDetail.price}}</span><br>
            <button mat-raised-button color="primary">Buy</button>
        </div>
    </div>
</div>