.product-card{
    background-color: var(--white);
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
}

mat-card-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    padding: 4px 0;
    border-bottom: 1px var(--primary-color) solid;
}

mat-card-title{
    width: 100%;
    text-align: center;
}

mat-card-title:hover{
    cursor: pointer;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 10px;
}

mat-card-content:last-child{    
    padding-bottom: 0px;
}

img{
    width: 90%;
    height: 200px;
    padding: 20px;
}

mat-card-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-price{
    text-align: center;
    background-color: var(--background-color);
    border-top: 1px var(--primary-color) solid;
    font-weight: bolder;
}